includes:
    - vendor/sympress/qa/config/phpstan/wordpress.neon

parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false
